.customFileIcon {
    width: 110px;
    height: 95px;
}

.customFile {
    flex-grow: 1;
    height: 100px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.customFileImg {
    width: 95px;
    height: 95px;
    border-radius: 5px;
    object-fit: cover;
}