.titleInput {
    width: 250px;
    height: 30px;
    margin: 20px 0;
    font-size: 18px;
}

.input {
    width: 80%;
    min-width: 250px;
    height: 25px;
    padding: 5px 0;
    font-size: 18px;
}

.textArea {
    width: 90%;
    resize: none;
    height: 200px;
    font-size: 16px;
}