.addBtn {
    width: 120px;
    height: 60px;
    border-radius: 30px;
    padding: 20px;
    cursor: pointer;
    margin-right: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: none;
    box-shadow: 0px 0px 5px 2px #888888;
    font-size: 18px;
    font-weight: 600;
    position: absolute;
    right: 100px;
}

.addBtn:hover {
    opacity: 0.8;
    box-shadow: 0px 0px 5px 4px #888888;
}

.fa-solid.fa-plus {
    font-size: 30px;
}