.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.popup {
    min-width: 300px;
    min-height: 150px;
    position: fixed;
    right: 5px;
    top: 20px; 
    background-color: white;
    border-radius: 6px;
    box-shadow: 0px 0px 5px 4px #888888;
}

.popup-list {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding-left: 0;
    cursor: pointer;
}


.popup-list > li {
    font-size: 20px;
    width: inherit;
    height: 40px; 
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    padding-left: 10px;
}

.popup-list > li:hover {
    background-color: aliceblue;
}

.icon  {
    color: gray;
    font-size: 25px;
    margin-right: 10px;
}

label {
    cursor: pointer;
    width: 100%;
}