.card {
    min-width: 100px;
    height: 125px;
    display: flex;
    flex-direction: column;
    position: relative;
    cursor: pointer;
}

.content {
    flex-grow: 1;
    height: 100px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.actions {
    position: absolute;
    right: -15px;
    top: 13px;
    display: none;
    flex-direction: column;
}

.card:hover .actions {
    display: flex;
}

.icon {
    margin-bottom: 20px;
    width: 30px;
    height: 30px;
}

.footer {
    height: 20px;
}

.title {
    font-size: 16px;
    text-align: center;
    margin: 0;
    padding-top: 4px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.title:hover {
    overflow: visible;
    white-space: break-spaces;
    position: absolute;
    z-index: 1;
    background: white;
    width: 100%;
    bottom: 0;
    width: 100%;
}