.my-modal {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
 }

 .modal-wrapper {
    display: flex;
    position: absolute;
    top: 50%;
    min-width: 300px;
    width: 500px;
    background: #fff;
    text-align: center;
    transform: translateY(-50%);
    border-radius: 18px;
    box-shadow: 0 0 1rem 0 #ccc;
    min-height: 200px;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
 }

 .modal-title-text{
     color: rgb(240, 114, 114);
     margin: 0;
 }

 .modal-title{
     padding: 8px;
     border-bottom: 1px solid grey;
     width: 100%;
     box-shadow:0px 3px 12px grey ;
     box-sizing: border-box;
 }

 .modal-content p{
    word-break: break-all;
}

 .modal-buttons{
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: end;
    padding: 8px;    
 }

 .acceptBtn, .cancelBtn {
    border: none;
    font-size: 16px;
    width: 80px;
    height: 40px;
    margin-right: 5px;
    border-radius: 6px;
    cursor: pointer;
 }

 .acceptBtn:hover {
    background-color: #244680;
    box-shadow: 0px 0px 2px 2px #888888;
}

.cancelBtn:hover {
    background-color: #629bfc;
    color: white;
    box-shadow: 0px 0px 2px 2px #888888;
    border: none;
}

.acceptBtn {
    color: white;
    background-color: #3266bf;
}

.cancelBtn {
    color: #f8f9fb;
    background-color: #888888;
}