.imagePopup {
    width: 310px;
    height: 310px;
    position: fixed;
    left: 40%;
    top: 30%;
    z-index: 2;
}

.ImagePopupImg {
    width: inherit;
    height: inherit;
    object-fit: cover;
    border-radius: 10px;
}

.imgPopupModal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
    opacity: 0.4;
    z-index: 1;
    cursor: pointer;
}