.navigation {
    margin: 18px;
    margin-top: 22px;
    display: flex;
    flex-direction: row;
}

.path{
    list-style:none;
    cursor: pointer;
    font-size: 20px;
}

.pathes {
    display: flex;
    flex-direction: row;
}

.linkItem {
    color: blue;
    margin: 0 2px;
}

.path:hover .linkItem{
    text-decoration: underline;
}

.path:last-child .delimiter {
    display: none;
}