.items {
    margin: 30px;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-gap: 10px;
}

@media (max-width: 1000px) {
    .items {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 540px) {
    .items {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 410px) {
    .items {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 280px) {
    .items {
        grid-template-columns: repeat(1, 1fr);
    }
}
