.textFileIcon {
    width: 110px;
    height: 95px;
}

.textFile {
    cursor: pointer;
    width: 100px;
    height: 100px;
    word-wrap: break-word;
    text-align: center;
    margin-top: 0;
    position: relative;
}
