.icon {
    width: 100px;
    height: 100px;
}

.title {
    font-size: 16px;
    margin: 0;
}

.link {
    cursor: pointer;
    width: 100px;
    height: 100px;
    word-wrap: break-word;
    text-align: center;
    position: relative;
    margin: 0 10px 0 10px;
}

.trashIcon {
    position: absolute;
    right: -13px;
    top: 0;
    display: none;
    transform: translate(50%, 10%);
    width: 30px;
    height: 30px;
}

.link:hover .trashIcon {
    display: block;
}